@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.experience{
   /* background-image: url('C:\Users\aman varma\OneDrive\Desktop\myportfolio\src\Assets\portfolio_bg2.avif');
   background-repeat: no-repeat;
   background-size: cover; */
   height: 150vh;
  overflow: hidden;
  background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
   
}
.exp-card1{
    cursor: pointer;
    position: relative;
    top: 3rem;
    left: 4rem;
    display: flex;
    flex-direction: column;
   color: white; 
  width: 40rem;
 justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
border-radius: 3rem;
height: 50rem;
background-color:rgb(33, 29, 29);
  
}
.inetfrak_logo{
    height: 15rem;
    width: 20rem;

    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
.dates{
    display: flex;
    gap: 20rem;
}
.exp-text{
    font-size: 45px;
   font-family: 'Times New Roman', Times, serif;

}
.exp-c_name{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.list li{
    list-style: circle;
    text-align: left;
    margin-left: 2rem;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
   
}
